@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.nav-link {
  --bs-nav-link-color: #fff;
  --bs-navbar-active-color: #F0145A;
  --bs-navbar-nav-link-padding-x: 0;
  --bs-navbar-nav-link-padding-y: 0;
  --bs-nav-link-hover-color: #F0145A;
}

.bg-gradient {
  --bs-gradient: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
}

.list-group {
  --bs-list-group-color: #B3B3BA;
  --bs-list-group-bg: transparent;
  --bs-list-group-border-color: none;
  --bs-list-group-active-bg: none;
  --bs-list-group-active-border-color: none;
  --bs-list-group-border-width: none;
  --bs-list-group-action-hover-color: #F0145A;
  --bs-list-group-action-hover-bg: none;
  --bs-list-group-action-active-color: white;
  --bs-list-group-action-active-bg: rgba(255, 255, 255, 0.2);
  --bs-list-group-disabled-color: none;
  --bs-list-group-disabled-bg: none;
}

.btn {
  font-weight: 700;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  font-weight: 400;
}

.bg-gradient {
  position: relative;
  border-radius: 0 0 12px 12px;
}
.bg-gradient:before, .bg-gradient:after {
  content: "";
  display: block;
  border-radius: 0 0 12px 12px;
  position: absolute;
  height: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.bg-gradient:before {
  bottom: -10px;
  background-color: #CACADB;
  width: calc(100% - 20px);
}
.bg-gradient:after {
  bottom: -20px;
  background-color: #E7E7F2;
  width: calc(100% - 40px);
}

a {
  cursor: pointer;
  text-decoration: none;
}

.container-lg {
  --bs-gutter-x: 60px;
}

.btn {
  padding: 18px 0;
  border: none;
  color: #fff;
  background: #24A3FF;
  box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
}
.btn:hover {
  background: #0085FF;
  color: #fff;
  transition: 0.5s;
  transform: perspective(300px) rotateX(45deg);
  border-bottom: 1px solid #323264;
  box-shadow: 0 5px 3px rgb(36, 163, 255);
}
.btn:active {
  --bs-btn-active-bg: #006CCF;
  --bs-btn-active-color: #fff;
  border-bottom: none;
}

.d-center {
  align-items: center;
  justify-content: center;
}

.grey-line {
  color: rgba(255, 255, 255, 0.5);
  margin: 15px 0;
  border-top: 4px solid;
  opacity: inherit;
}

@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}
.navbar-brand {
  margin-top: -20px;
}
.navbar-brand:hover .navbar-brand-way {
  color: #F0145A;
  transition: 0.8s;
  box-shadow: 0 0 65px -20px black;
}
.navbar-brand .slash-nav {
  margin-bottom: 14px;
}
.navbar-brand-way {
  font-size: 36px;
  line-height: 44px;
  color: #323264;
}
.navbar-brand-way:hover, .navbar-brand-way .navbar-brand {
  color: #F0145A;
}/*# sourceMappingURL=index.css.map */